  <div class=" ui container">
    <% flash.each do |name,msg|%>
      <div class="ui message <%= name == "notice" ? "success" : "negative" %>">
        <i class="close icon"></i>
          <div class="header">
            <%= msg %>
          </div>          
      </div>
    <% end %>
  </div>